@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@keyframes move-card {
  0% {
    scale: 0;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}
@keyframes slideGreen {
  0% {
    transform: translateX(40px);
  }
  100% {
    transform: translateX(-40px);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    z-index: -1000;
    visibility: hidden;
  }
}
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: fade-out 2s ease 2s forwards; /* Animation de fondu */
}
.loader-container .loader {
  border: 12px solid #99E2D0;
  border-top: 12px solid #9356DC;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite; /* Animation Spin 360° */
}

button {
  border-radius: 25px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  width: 218px;
  height: 50px;
  cursor: pointer;
}

button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
}

.menu_card {
  overflow: hidden;
  box-shadow: 0px 4.0114941597px 15.0431032181px 0px rgba(0, 0, 0, 0.1019607843);
  border-radius: 15.04px;
  padding: 13.5px 15px 13.5px 15px;
  background-color: #fff;
  cursor: pointer;
}
.menu_card h1 {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu_card .menu_card_text {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu_card .menu_card_text p {
  margin: 0;
  font-weight: 300;
  font-size: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu_card .menu_card_text h2 {
  margin: 0;
  font-weight: 700;
  font-size: 15px;
  padding: 0px 8px;
}
.menu_card .fa-check-circle {
  color: #fff;
  transition: transform 500ms ease-in-out;
}

.menu_card:hover {
  padding-right: 75px;
  transition: padding-right 0.5s ease;
}
.menu_card:hover .menu_card_confirms {
  opacity: 1;
  transform: translate(-50px);
}
.menu_card:hover .fa-check-circle {
  transform: rotate(360deg);
}
.menu_card:hover .menu_card_confirm {
  margin-right: 0px;
  opacity: 1;
}
.menu_card:hover .menu_card_icon {
  transform: rotate(0);
}

.logoHome {
  padding: 17px 0px 16px 17px;
  text-align: center;
}

.logo {
  text-align: center;
  padding: 17px 0px 16px 17px;
  background-color: #fff;
}
.logo .fa-arrow-left {
  font-size: 28px;
  cursor: pointer;
  position: absolute;
  left: 0;
  margin: 0px 10px;
}

.menu_card_confirm {
  background-color: #99E2D0;
  margin: -54px 0px 1px 0px;
  padding: 13.5px 15px 13.5px 15px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  opacity: 0;
  right: -40px;
  border-top-right-radius: 15.04px;
  border-bottom-right-radius: 15.04px;
  transition: transform 0.5s ease-in-out; /* Transition pour la réinitialisation */
}

.menu_card_icon {
  height: 1.6rem;
  width: 1.6rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: rotate(180deg);
  transition-duration: 0.5s;
}

.menu_card_icon_color {
  color: #99E2D0;
}

.menu_card:hover .menu_card_confirm {
  /* Application de l'animation lors du survol */
  animation: slideGreen 0.5s forwards; /* Utilisation de forwards pour conserver l'état final */
}

.menu_card_confirm:not(:hover) {
  /* Réinitialisation de l'animation lorsque la carte n'est pas survolée */
  transform: translateX(40px); /* Retour à la position initiale */
}

.fa-heart {
  font-size: 22px;
  cursor: pointer;
}

.fa-regular .fa-heart {
  position: relative;
  display: inline-block;
}

.restaurants_icon_sup {
  padding: 0px 15px 0px 0px;
}
.restaurants_icon_sup .firstHeart {
  font-size: 20px;
  position: relative;
  right: -23px;
  z-index: 1;
  transition: opacity 0.25s;
  opacity: 1;
}
.restaurants_icon_sup .secondHeart {
  background-image: linear-gradient(349deg, #9356dc 0%, #ff79da 110%);
  color: transparent;
  font-size: 20px;
  position: relative;
  right: 1px;
  -webkit-background-clip: text;
  background-clip: text;
  z-index: 1;
  transition: opacity 0.25s;
  opacity: 0;
}
.restaurants_icon_sup .firstHeart:hover {
  opacity: 0;
}
.restaurants_icon_sup .secondHeart:hover {
  opacity: 1;
}

.restaurants_icon_sup {
  padding: 0px 15px 0px 0px;
}

.restaurants_icon_sup .firstheart {
  font-size: 20px;
  position: relative;
  right: -23px;
  z-index: 1;
  transition: opacity 0.25s;
  opacity: 1;
}

.restaurants_icon_sup .firstheart:hover {
  opacity: 0;
}

.restaurants_icon_sup .coeur {
  background-image: linear-gradient(349deg, #9356dc 0%, #ff79da 110%);
  color: transparent;
  font-size: 20px;
  position: relative;
  right: 1px;
  -webkit-background-clip: text;
  background-clip: text;
  z-index: 1;
  transition: opacity 0.25s;
  opacity: 0;
}

.restaurants_icon_sup .coeur:hover {
  opacity: 1;
}

footer {
  background-color: #353535;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 25px 22px;
}
footer h1 {
  font-size: 24px;
  font-family: "Shrikhand", serif;
  font-weight: 400;
}
footer .footer_links {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 7px 0px;
}
footer .footer_links div a {
  display: flex;
  align-items: center;
}
footer .footer_links div a p {
  margin: 0;
  padding: 0px 11px;
}
footer .footer_infos {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
footer .footer_infos a {
  cursor: pointer;
}

.image {
  position: relative;
}
.image .image_size {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.border_white {
  position: relative;
  top: -40px;
  padding: 20px 0px;
  border-radius: 40px 40px 0 0;
  background-color: #F6F6F6;
}

.menu {
  padding: 0px 0px 40px 0px;
  margin: -40px 0px;
}
.menu .menu_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 17px;
  margin-right: 24px;
}
.menu .menu_title h1 {
  font-family: "Shrikhand", serif;
  font-size: 24px;
  font-weight: 400;
  margin: 0;
}
.menu .menu_section {
  margin: 40px 13px 0px 13px;
  animation: move-card 1s cubic-bezier(0, 0, 0, 1) forwards;
  opacity: 0;
}
.menu .menu_section .menu_section_title {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  border-bottom: 3px solid #99E2D0;
  width: 35px;
}
.menu .menu_section .menu_sous_section {
  display: flex;
  gap: 12px;
  flex-direction: column;
}
.menu .animate1 {
  animation-delay: 0.25s;
}
.menu .animate2 {
  animation-delay: 0.5s;
}
.menu .animate3 {
  animation-delay: 1s;
}

.btnCommander {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0 40px 0;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  background-color: #F6F6F6;
}

a {
  color: inherit;
  text-decoration: none;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  background-color: #EAEAEA;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  padding: 17px 0px;
}
form input {
  border: none;
  background-color: #EAEAEA;
  font-weight: 500;
  font-size: 16px;
  color: #353535;
  width: 109px;
}
form input:focus {
  outline: none;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 20px;
  margin-bottom: 54px;
}
.header h1 {
  text-align: center;
  margin: 0;
  margin-top: 39px;
}
.header p {
  text-align: center;
  font-weight: 100;
  font-size: 18px;
}

.fonctionnement {
  padding: 0px 20px;
  padding-bottom: 68px;
  background-color: #fff;
}
.fonctionnement h1 {
  padding: 48px 0px 26px 0px;
  margin: 0;
  width: 100%;
  max-width: 1080px;
}
.fonctionnement .fonctionnement_all_card {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.fonctionnement .fonctionnement_all_card .fonctionnement_card {
  display: flex;
  align-items: center;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  border-radius: 20px;
  padding: 0px 30px;
  gap: 20px;
  position: relative;
  cursor: pointer;
}
.fonctionnement .fonctionnement_all_card .fonctionnement_card div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9356DC;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  position: absolute;
  left: -12px;
}
.fonctionnement .fonctionnement_all_card .fonctionnement_card div h3 {
  font-weight: 500;
  font-size: 14.18px;
  color: #fff;
}
.fonctionnement .fonctionnement_all_card .fonctionnement_card:hover .fa-color-purple {
  color: #9356DC;
}
.fonctionnement .fonctionnement_all_card .fonctionnement_card p {
  font-weight: 500;
  font-size: 16px;
}

.restaurants {
  padding: 0px 20px;
  padding-bottom: 66px;
}
.restaurants h1 {
  margin: 0;
  padding-top: 54px;
  padding-bottom: 30px;
  width: 100%;
  max-width: 1080px;
}
.restaurants .restaurants_all_card {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.restaurants .restaurants_all_card .restaurants_card {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
  border-radius: 15px;
  position: relative;
}
.restaurants .restaurants_all_card .restaurants_card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 10em;
}
.restaurants .restaurants_all_card .restaurants_card .restaurants_chips_green {
  background-color: #99E2D0;
  color: #008766;
  padding: 6px 9px;
  width: 4em;
  font-weight: 500;
  font-size: 14px;
  position: absolute;
  right: 8px;
  top: 8px;
}
.restaurants .restaurants_all_card .restaurants_card .restaurants_ensemble_description {
  display: flex;
  justify-content: space-between;
  padding-right: 25px;
  padding-top: 16px;
  padding-bottom: 12px;
}
.restaurants .restaurants_all_card .restaurants_card .restaurants_ensemble_description .restaurants_description {
  padding-left: 13px;
}
.restaurants .restaurants_all_card .restaurants_card .restaurants_ensemble_description .restaurants_description h2 {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}
.restaurants .restaurants_all_card .restaurants_card .restaurants_ensemble_description .restaurants_description p {
  margin: 0;
  font-size: 17px;
  font-weight: 300;
}

@media (min-width: 1440px) {
  body {
    background-color: #fff;
  }
  .fonctionnement {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 68px;
  }
  .fonctionnement_card {
    padding: 12px 120px 12px 20px !important;
  }
  .fonctionnement_all_card {
    flex-direction: row !important;
  }
  .restaurants {
    padding-bottom: 66px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 66px;
  }
  .restaurants_all_card {
    flex-direction: row !important;
    gap: 50px !important;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1080px;
  }
  .restaurants_card {
    width: 32em;
  }
  footer {
    flex-direction: row-reverse;
    align-items: center;
    gap: 60px;
    padding: 50px 22px 25px 0px;
  }
  footer .footer_all_links {
    display: flex;
    gap: 60px;
  }
  footer .footer_all_links .footer_links {
    flex-direction: row;
  }
  footer .footer_all_links .footer_infos {
    flex-direction: row;
    align-items: center;
  }
  .border_white {
    margin: 0 16em;
  }
  .image_size {
    width: 100%;
    height: 275px;
  }
  .menu {
    padding: 0px 200px 50px 200px;
    margin: -40px 16em;
    background-color: #F6F6F6;
  }
  .menu .menu_title {
    justify-content: center;
    gap: 24px;
  }
  .menu_section_title {
    width: 40px !important;
  }
}
.image_size {
  width: 100%;
  height: 275px;
}/*# sourceMappingURL=main.css.map */