$primary-color: #9356DC;
$background-color: #F6F6F6;
$green-color: #99E2D0;
$green-font-color: #008766;
$white-color: #fff;
$black-color: #000;
$grey-dark-color: #353535;
$grey-light-color: #EAEAEA;
$gradient-color: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
$gradient-color-hover: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
$title-size-section: 24px;
$title2-size-section: 18px;
$paragraph-size-section: 16px;
$button-size-section: 18px;