@import 'variables.scss';

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $white-color;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: fade-out 2s ease 2s forwards; /* Animation de fondu */
}

.loader {
  border: 12px solid $green-color;
  border-top: 12px solid $primary-color;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes fade-out {
    0% { opacity: 1; }
    100% { opacity: 0; display: none; }
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: $font-roboto;
  background-color: $background-color;
}

a {
  color: inherit;
  text-decoration: none;
}

.logo {
  padding: 14px 0px 5px 0px;
  box-shadow: 0px 2px 4px 0px #00000026;

  h1 {
    margin: 0;
    text-align: center;
    font-family: $font-shrikhand;
    font-weight: 400;
    font-size: 30px;
  }
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  background-color: $grey-light-color;
  box-shadow: 0px 4px 4px 0px #00000040;
  padding: 17px 0px;

  input {
    border: none;
    background-color: $grey-light-color;
    font-weight: 500;
    font-size: 16px;
    color: $grey-dark-color;
    width: 109px;
  }

  input:focus {
    outline: none;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 20px;
  margin-bottom: 54px;

  h1 {
    text-align: center;
    margin: 0;
    margin-top: 39px;
  }

  p {
    text-align: center;
    font-weight: 100;
    font-size: 18px;
  }

  button {
    border-radius: 25px;
    background: $gradient-color;
    box-shadow: 0px 4px 10px 0px #00000040;
    border: none;
    color: $white-color;
    font-weight: 500;
    font-size: 16px;
    width: 218px;
    height: 50px;
    cursor: pointer;
  }

  button:hover {
    background: $gradient-color-hover;
    box-shadow: 0px 4px 15px 0px #00000059;
  }
}

.fonctionnement {
  padding: 0px 20px;
  padding-bottom: 68px;
  background-color: $white-color;

  h1 {
    padding: 48px 0px 26px 0px;
    margin: 0;
    width: 100%;
    max-width: 1080px;
  }

  .fonctionnement_all_card {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .fonctionnement_card {
    display: flex;
    align-items: center;
    background-color: $background-color;
    box-shadow: 0px 4px 15px 0px #00000026;
    border-radius: 20px;
    padding: 0px 30px;
    gap: 20px;
    position: relative;
    cursor: pointer;

      div {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $primary-color;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        position: absolute;
        left: -12px;

        h3 {
          font-weight: 500;
          font-size: 14.18px;
          color: $white-color;
        }
      }

      &:hover {
        .fa-color-purple {
          color: $primary-color;
        }
      }

      
      p {
        font-weight: 500;
        font-size: 16px;
      }
    }
  }
}

.restaurants {
  padding: 0px 20px;
  padding-bottom: 66px;

  h1 {
    margin: 0;
    padding-top: 54px;
    padding-bottom: 30px;
    width: 100%;
    max-width: 1080px;
  }

  .restaurants_all_card {
    display: flex;
    flex-direction: column;
    gap: 18px;

    .restaurants_card {
      box-shadow: 0px 4px 15px 0px #0000001A;
      border-radius: 15px;
      position: relative;
    
      img {
        object-fit: cover;
        width: 100%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        height: 10em;
      }

      .restaurants_chips_green {
        background-color: $green-color;
        color: $green-font-color;
        padding: 6px 9px;
        width: 4em;
        font-weight: 500;
        font-size: 14px;
        position: absolute;
        right: 8px;
        top: 8px;    
      }

      .restaurants_ensemble_description {
        display: flex;
        justify-content: space-between;
        padding-right: 25px;
        padding-top: 16px;
        padding-bottom: 12px;  

        .restaurants_description {
          padding-left: 13px;    

          h2 {
            margin: 0;
            font-size: $title2-size-section;
            font-weight: 700;
          }
          
          p {
            margin: 0;
            font-size: 17px;
            font-weight: 300;
          }
        }

        .fa-heart {
          font-size: 22px;
        }
        
        .fa-regular.fa-heart {
          position: relative;
          display: inline-block;
        }

        .restaurants_icon_sup {
          padding: 0px 15px 0px 0px;
        }
        .restaurants_icon_sup .firstheart {
          font-size: 20px;
          position: relative;
          right: -23px;
          z-index: 1;
          transition: opacity 0.25s;
          opacity: 1;
        }
        .restaurants_icon_sup .firstheart:hover {
          opacity: 0;
        }
        .restaurants_icon_sup .coeur {
          background-image: linear-gradient(349deg, #9356dc 0%, #ff79da 110%);
          color: transparent;
          font-size: 20px;
          position: relative;
          right: 1px;
          -webkit-background-clip: text;
          background-clip: text;
          z-index: 1;
          transition: opacity 0.25s;
          opacity: 0;
        }
        .restaurants_icon_sup .coeur:hover {
          opacity: 1;
        }
      }
    }
  }
}

footer {
  background-color: $grey-dark-color;
  color: $white-color;
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 25px 22px;

  h1 {
    font-size: $title-size-section;
    font-family: $font-shrikhand;
    font-weight: 400;
  }

  .footer_links {
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 7px 0px;

    div {

      a {
        
        display: flex;
        align-items: center;

        p {
          margin: 0;
          padding: 0px 11px;
        }
      }
    }
  }

  .footer_infos {
    display: flex;
    flex-direction: column;
    gap: 7px;

    a {
      cursor: pointer;
    }
  }

}