@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: fade-out 2s ease 2s forwards; /* Animation de fondu */
}

.loader {
  border: 12px solid #99E2D0;
  border-top: 12px solid #9356DC;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  background-color: #F6F6F6;
}

a {
  color: inherit;
  text-decoration: none;
}

.logo {
  padding: 14px 0px 5px 0px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
}
.logo h1 {
  margin: 0;
  text-align: center;
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-size: 30px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  background-color: #EAEAEA;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  padding: 17px 0px;
}
form input {
  border: none;
  background-color: #EAEAEA;
  font-weight: 500;
  font-size: 16px;
  color: #353535;
  width: 109px;
}
form input:focus {
  outline: none;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 20px;
  margin-bottom: 54px;
}
.header h1 {
  text-align: center;
  margin: 0;
  margin-top: 39px;
}
.header p {
  text-align: center;
  font-weight: 100;
  font-size: 18px;
}
.header button {
  border-radius: 25px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  width: 218px;
  height: 50px;
  cursor: pointer;
}
.header button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
}

.fonctionnement {
  padding: 0px 20px;
  padding-bottom: 68px;
  background-color: #fff;
}
.fonctionnement h1 {
  padding: 48px 0px 26px 0px;
  margin: 0;
  width: 100%;
  max-width: 1080px;
}
.fonctionnement .fonctionnement_all_card {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.fonctionnement .fonctionnement_all_card .fonctionnement_card {
  display: flex;
  align-items: center;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  border-radius: 20px;
  padding: 0px 30px;
  gap: 20px;
  position: relative;
  cursor: pointer;
}
.fonctionnement .fonctionnement_all_card .fonctionnement_card div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9356DC;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  position: absolute;
  left: -12px;
}
.fonctionnement .fonctionnement_all_card .fonctionnement_card div h3 {
  font-weight: 500;
  font-size: 14.18px;
  color: #fff;
}
.fonctionnement .fonctionnement_all_card .fonctionnement_card:hover .fa-color-purple {
  color: #9356DC;
}
.fonctionnement .fonctionnement_all_card .fonctionnement_card p {
  font-weight: 500;
  font-size: 16px;
}

.restaurants {
  padding: 0px 20px;
  padding-bottom: 66px;
}
.restaurants h1 {
  margin: 0;
  padding-top: 54px;
  padding-bottom: 30px;
  width: 100%;
  max-width: 1080px;
}
.restaurants .restaurants_all_card {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.restaurants .restaurants_all_card .restaurants_card {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
  border-radius: 15px;
  position: relative;
}
.restaurants .restaurants_all_card .restaurants_card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 10em;
}
.restaurants .restaurants_all_card .restaurants_card .restaurants_chips_green {
  background-color: #99E2D0;
  color: #008766;
  padding: 6px 9px;
  width: 4em;
  font-weight: 500;
  font-size: 14px;
  position: absolute;
  right: 8px;
  top: 8px;
}
.restaurants .restaurants_all_card .restaurants_card .restaurants_ensemble_description {
  display: flex;
  justify-content: space-between;
  padding-right: 25px;
  padding-top: 16px;
  padding-bottom: 12px;
}
.restaurants .restaurants_all_card .restaurants_card .restaurants_ensemble_description .restaurants_description {
  padding-left: 13px;
}
.restaurants .restaurants_all_card .restaurants_card .restaurants_ensemble_description .restaurants_description h2 {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}
.restaurants .restaurants_all_card .restaurants_card .restaurants_ensemble_description .restaurants_description p {
  margin: 0;
  font-size: 17px;
  font-weight: 300;
}
.restaurants .restaurants_all_card .restaurants_card .restaurants_ensemble_description .fa-heart {
  font-size: 22px;
}
.restaurants .restaurants_all_card .restaurants_card .restaurants_ensemble_description .fa-regular.fa-heart {
  position: relative;
  display: inline-block;
}
.restaurants .restaurants_all_card .restaurants_card .restaurants_ensemble_description .restaurants_icon_sup {
  padding: 0px 15px 0px 0px;
}
.restaurants .restaurants_all_card .restaurants_card .restaurants_ensemble_description .restaurants_icon_sup .firstheart {
  font-size: 20px;
  position: relative;
  right: -23px;
  z-index: 1;
  transition: opacity 0.25s;
  opacity: 1;
}
.restaurants .restaurants_all_card .restaurants_card .restaurants_ensemble_description .restaurants_icon_sup .firstheart:hover {
  opacity: 0;
}
.restaurants .restaurants_all_card .restaurants_card .restaurants_ensemble_description .restaurants_icon_sup .coeur {
  background-image: linear-gradient(349deg, #9356dc 0%, #ff79da 110%);
  color: transparent;
  font-size: 20px;
  position: relative;
  right: 1px;
  -webkit-background-clip: text;
  background-clip: text;
  z-index: 1;
  transition: opacity 0.25s;
  opacity: 0;
}
.restaurants .restaurants_all_card .restaurants_card .restaurants_ensemble_description .restaurants_icon_sup .coeur:hover {
  opacity: 1;
}

footer {
  background-color: #353535;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 25px 22px;
}
footer h1 {
  font-size: 24px;
  font-family: "Shrikhand", serif;
  font-weight: 400;
}
footer .footer_links {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 7px 0px;
}
footer .footer_links div a {
  display: flex;
  align-items: center;
}
footer .footer_links div a p {
  margin: 0;
  padding: 0px 11px;
}
footer .footer_infos {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
footer .footer_infos a {
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */