footer {
  background-color: $grey-dark-color;
  color: $white-color;
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 25px 22px;

  h1 {
    font-size: $title-size-section;
    font-family: $font-shrikhand;
    font-weight: 400;
  }

  .footer_links {
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 7px 0px;

    div {

      a {
        
        display: flex;
        align-items: center;

        p {
          margin: 0;
          padding: 0px 11px;
        }
      }
    }
  }

  .footer_infos {
    display: flex;
    flex-direction: column;
    gap: 7px;

    a {
      cursor: pointer;
    }
  }

}