.logoHome {
  padding: 17px 0px 16px 17px;
  text-align: center;
}

.logo {
  text-align: center;
  padding: 17px 0px 16px 17px;
  background-color: $white-color;

  .a-arrow {
    @include linkReset;
    position: absolute;
    top: 0;
    left: 0;
  
    .fa-arrow-left {
      font-size: 28px;
      cursor: pointer;
      padding: 25px;
      width: 48px;
      height: 48px;
    }
  }
}