.menu_card {
  overflow: hidden;
  box-shadow: 0px 4.011494159698486px 15.043103218078613px 0px #0000001A;
  border-radius: 15.04px;
  background-color: $white-color;
  padding: 13.5px 15px 12.5px 15px;
  cursor: pointer;
  display: flex;

  .menu_card_text {
    @include ThreeDots;
    flex: 1;

    h3 {
      margin: 0;
      font-weight: 500;
      font-size: $button-size-section;
      @include ThreeDots;
    }

    p {
      margin: 0;
      font-weight: 300;
      font-size: 15px;
      @include ThreeDots;
    }
  }

  .euro {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    span {
      margin: 0;
      font-weight: 700;
      font-size: 15px;
    }
  }

  .fa-check-circle {
    color: #fff;
    transition: transform 500ms ease-in-out;
  }
}