.menu_card_confirm {
  background-color: $green-color;
  margin: -55px 0px 1px 0px;
  padding: 13.5px 15px 13.5px 15px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  opacity: 0;
  right: -40px;
  border-top-right-radius: 15.04px;
  border-bottom-right-radius: 15.04px;
  transition: transform 0.5s ease-in-out; /* Transition pour la réinitialisation */
}

.menu_card_icon {
  height: 1.6rem;
  width: 1.6rem;
  background-color: $white-color;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: rotate(180deg);
  transition-duration: .5s;
}

.menu_card_icon_color {
  color: $green-color;
}

.menu_card:hover {
  .menu_card_confirm {
    /* Application de l'animation lors du survol */
    animation: slideGreen 0.5s forwards; /* Utilisation de forwards pour conserver l'état final */
  }
} 

.menu_card_confirm:not(:hover) {
  /* Réinitialisation de l'animation lorsque la carte n'est pas survolée */
  transform: translateX(40px); /* Retour à la position initiale */
}