.menu_card_confirm {
  background-color: $green-color;
  margin: -1rem -5rem -1rem 1rem;
  width: 4rem;
  @include flex-center;
  transition: transform 0.5s ease-in-out; /* Transition pour la réinitialisation */
}

.menu_card_icon {
  height: 1.6rem;
  width: 1.6rem;
  background-color: $white-color;
  @include flex-center;
  border-radius: 100px;
  transform: rotate(180deg);
  transition-duration: .5s;
}

.menu_card_icon_color {
  color: $green-color;
}

/* Application de l'animation lors du survol */
.menu_card:hover {

  .fa-check-circle {
    transform: rotate(360deg);
  }

  .menu_card_icon {
    transform: rotate(0);
  }

  .euro {
    span {
      animation: slideGreen 0.5s forwards;
    }
  }
  .menu_card_confirm {
    margin-right:-1rem;
    animation: slideGreen 0.5s forwards; /* Utilisation de forwards pour conserver l'état final */
  }
} 