body {
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: $font-roboto;
    background-color: $background-color;
}

a {
  @include linkReset;
}