@media (min-width: 1024px) {

/* body {
    background-color: $white-color;
  } */
  
  .fonctionnement {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 68px;
  }
  
  .fonctionnement_card {
    padding: 12px 120px 12px 20px !important;
  }
  
  .fonctionnement_all_card {
    flex-direction: row !important;
  }
  
  .restaurants {
    padding-bottom: 66px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 66px;
  }
  
  .restaurants_all_card {
    flex-direction: row !important;
    gap: 50px !important;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1024px;
  }
  
  .restaurants_card {
    width: 29em;
  }
  
  footer {
    flex-direction: row-reverse;
    align-items: center;
    gap: 60px;
    padding: 50px 22px 25px 0px;

    .logoFooterOhmyfood {
      width: 120px;
    }
    
    .footer_all_links {
      display: flex;
      gap: 60px;
  
      .footer_links {
        flex-direction: row;
      }
  
      .footer_infos {
        flex-direction: row;
        align-items: center;
      }
    }
  }

  .border_white {
    margin: 0 8em;
  }
  
  .menu {
    padding: 0px 100px 50px 100px;
    margin: -40px 8em;
    background-color: $background-grey-color;

    .menu_title {
      justify-content: center;
      gap: 24px;
    }
  }

  .menu_section_title {
    width: 40px !important;
  }
}