@import '../style.css';
@import '../variables.scss';

.logo {
  display: flex;
  align-items: center;
  padding: 17px 0px 16px 17px;
  background-color: $white-color;

  .fa-solid {
    font-size: 28px;
  }

  h1 {
    margin: 0 auto;
  }
}

.image {
  position: relative;

  img {
    object-fit: cover;
    width: 100%;
  }

}

.border_white {
  position: relative;
  top: -40px;
  padding: 20px 0px;
  border-radius: 40px 40px 0 0;
  background-color: $background-color;
}

.menu {
  padding: 0px 0px 40px 0px;
  margin: -40px 0px;

  .menu_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 17px;
    margin-right: 24px;

    h1 {
      font-family: $font-shrikhand;
      font-size: $title-size-section;
      font-weight: 400;
      margin: 0;
    }

    .fa-heart {
      font-size: 22px;
    }
  }

  .menu_section {
    margin: 40px 13px 0px 13px;

    .menu_section_title {
      font-size: $paragraph-size-section;
      font-weight: 300;
      text-transform: uppercase;
      border-bottom: 3px solid $green-color;
      width: 11%;
    }

    .menu_sous_section {
      display: flex;
      gap: 12px;
      flex-direction: column;
    }
  }

  .menu_card {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    box-shadow: 0px 4.011494159698486px 15.043103218078613px 0px #0000001A;
    border-radius: 15.04px;
    padding: 13.5px 15px 13.5px 15px;
    background-color: $white-color;

    .menu_card_text {

      h1 {
        margin: 0;
        font-weight: 500;
        font-size: $button-size-section;
      }

      p {
        margin: 0;
        font-weight: 300;
        font-size: 15px;
      }
    }

    h2 {
      margin: 0;
      font-weight: 700;
      font-size: 15px;
    }
  }
}

.commander {
  display: flex;
  justify-content: center;
  margin: 40px 0 40px 0;

  button {
    border-radius: 25px;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    box-shadow: 0px 4px 10px 0px #00000040;
    border: none;
    color: $white-color;
    font-weight: 500;
    font-size: 16px;
    width: 186px;
    height: 50px;
  }
}